# Build directories
/build/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Machine files
.DS_Store

# Editor/IDE
.vscode/

# My local "CI" files
runchecks.sh