# Build directories
/build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Executables
eVTOL_sim
eVTOL_tests

# Machine files
.DS_Store

# Editor/IDE
.vscode/

# My local "CI" files
runchecks.sh